@model vesion15.Models.Nganh

<h1>Thêm ngành nghề</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="TenNganh" class="control-label"></label>
        <input asp-for="TenNganh" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Thêm" class="btn btn-primary" />
    </div>
</form>
