@model vesion15.Models.HoSo

<div class="text-center">
    <img src="@Model.AnhHoSo" alt="Ảnh Hồ Sơ" />
    <br />
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Quay về trang chủ</a>
</div>
